/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* Ogólne */
h1 {
    font-size: 1.6rem;
}

h2 {
    line-height: 1.1;
    font-weight: 700;
    font-size: 4rem;
    /* color: black; */
}

h3 {
    font-size: 3rem;
}

br {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

/*  */

body {
    position: flex;
    flex-direction: column;
}

button.up {
    display: none;
}

.wrapper {
    background-image: url(../img/bgc.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.wrapper::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    height: 25vh;
    color: white;
    background-color: rgba(0, 0, 0, .8);
    transition: .2s linear;
}

nav.active {
    transform: translateY(0);
}

.me {
    flex-grow: 1;
    text-align: center;
}

.me a {
    display: inline-block;
    height: 20vh;
    line-height: 20vh;
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: white;
    padding: 0 15px;
    cursor: pointer;
}

/* HAMBURGER */

.burger {
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 15px;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    min-height: 45px;
    transition: .2s linear;
}

.burger-box {
    width: 35px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.burger-inner {
    position: absolute;
    width: 100%;
    height: 3px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: white;
    transition: background-color .1s .2s linear;
}

.burger-inner::before,
.burger-inner::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: transform .2s .2s linear;
}

.burger-inner::before {
    top: -10px;
}

.burger-inner::after {
    top: 10px;
}

.burger.active {
    transform: translateY(25vh);
}

.burger-inner.active {
    background-color: transparent;
}

.burger-inner.active::before {
    transform: translateY(10px) rotate(45deg);
}

.burger-inner.active::after {
    transform: translateY(-10px) rotate(-45deg);
}

/*  */

.header {
    position: relative;
    height: 75vh;
    color: white;
}

.header a {
    color: white;
}

.welcome {
    position: absolute;
    top: 15%;
    left: 10%;
}

.welcome a {
    font-size: 2rem;
    border: 2px solid white;
    padding: 15px 10px;
    margin-top: 30px;
    display: inline-block;
}

.about {
    /* position: relative; */
}

.about h2 {
    /* display: inline-block; */
    padding: 25px 0 25px 20px;
    color: black;
}

.about p {
    font-size: 1.6rem;
    padding-left: 25px;
    padding-right: 50px;
    color: black;
}

.technology {
    /* background-color: #878E88; */
}

.technology h3 {
    padding: 25px 0 25px 20px;
    color: black;
}

.techImg {
    display: flex;
    justify-content: space-around;
    padding-bottom: 25px;
}

.tech {
    font-size: 6rem;
    text-shadow: 3px 3px 2px grey;
}

.tech:nth-child(1) {
    color: #e34f26;
}

.tech:nth-child(2) {
    color: #42a5f5;
}

.tech:nth-child(3) {
    color: #f7df1e;
}

.photos-wrap {
    height: 100vh;
}

.photos {
    height: 100vh;
    background-color: #F7CB15;
}

.photos h2 {
    height: 20vh;
    line-height: 20vh;
    padding-left: 20px;
    color: black;
    width: 100%;
    display: inline-block;
    max-width: 80vw;
    margin: 0 auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    height: 80%;
    overflow: hidden;
}

.img-wrap {
    height: 40%;
    flex-basis: 40%;
    box-shadow: 5px 5px 10px black;
}

.img-wrap:nth-of-type(5),
.img-wrap:nth-of-type(6),
.img-wrap:nth-of-type(7),
.img-wrap:nth-of-type(8) {
    display: none;
}

.img {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bgc {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    position: relative;
}

.bgc p {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
    color: white;
}

.img-wrap:nth-of-type(1)>.img {
    background-image: url(../img/1.jpg);
}

.img-wrap:nth-of-type(2)>.img {
    background-image: url(../img/2.jpg);
}

.img-wrap:nth-of-type(3)>.img {
    background-image: url(../img/3.jpg);
}

.img-wrap:nth-of-type(4)>.img {
    background-image: url(../img/4.jpg);
}

/* PROJECTS */

.projects {
    /* height: 60vh; */
}

.projects h2 {
    color: black;
    padding: 25px 0 20px 20px;
}

.sectionProjects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    height: 30vh;
}

.project {
    flex-basis: 30.1%;
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
    color: black;
    cursor: pointer;
    font-size: 1.6rem;
}

.project:nth-child(odd) {
    background-color: #F7CB15;
}

/* CONTACT */

.contact {
    height: 100vh;
    color: black;
}

.contact h2 {
    padding: 25px 0 25px 20px;
}

.con {
    background-color: #e9e8e8;
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

input {
    border: none;
}

textarea {
    border: none;
}

.mail {
    font-size: 1.6rem;
    padding: 10px;
    width: 90%;
    border-bottom: 4px solid black;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Roboto', sans-serif;
}

.text {
    font-size: 1.6rem;
    padding: 10px;
    width: 90%;
    border-bottom: 4px solid black;
    resize: none;
    font-family: 'Roboto', sans-serif;
    flex-grow: 1;
}

.submit {
    position: relative;
    display: block;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
    margin: 0 auto;
    letter-spacing: 1px;
    font-family: 'Roboto Condensed', sans-serif;
    z-index: 1;
    padding: 10px 15px;
    margin: 25px 0;
}

.submit::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5px;
    right: 5px;
    background-color: rgb(247, 203, 21);
    z-index: -1;
    transition: .2s;
}

.submit::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    border: 1px solid black;
    transition: .2s;
}

.phone {
    display: flex;
    margin-bottom: 20px;
    font-size: 2rem;
}

.phone i {
    padding-right: 20px;
}

footer {
    height: 20vh;
    background-color: #F7CB15;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 25px;
}

.footer-wrap {
    max-width: 80vw;
    margin: 0 auto;
    height: 20vh;
    display: flex;
}

footer p {
    align-self: center;
}

.icons {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.icons i {
    color: white;
    line-height: 10vh;
}